.tabs_layout_simple
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .tabs__head
        display flex

        & .tabs__tab
            flex 1
            padding 10px
            cursor pointer
            text-align center

    & > .tabs__panes
    & > .tabs__panes > .tabs__pane_active_yes
        display flex
        flex 1

    & > .tabs__panes
        margin-top 10px
